* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #080808;;
}

/* header section */
#header {
    width: 100%;
    height: 10vh;
}

.nav-bar {
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a h1 {
    font-size: 32px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
nav .fas {
    display: none;
}

/* media query */
@media only screen and (max-width: 600px) {
    .container {
            padding: 0;
    }
    .nav-bar {
        height: 60px;
    }
    nav .fas {
        display: block;
        font-size: 25px;
        color: #fff;
    }

    nav ul {
        background: #080808;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav a h1 {
        font-size: 24px;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}

/* home page section */
#home-page, #messages-page, #signin-page, #signup-page {
    width: 100%;
    height: 100vh;
}

.container {
    padding: 40px 0;
}

.container .msg {
    display: flex;
    padding: 5px;
}
.container .msg .left {
    flex: 25%;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
    transition: transform 0.5s;
}

.container .msg .left:hover {
    transform: translateY(10px);
}

.container .msg .right {
    flex: 70%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.right .msg-search .inputBox {
    width: 60%;
    margin: 10px auto;
    display: flex;
}

.right .msg-search .inputBox input {
    background: #ccc;
    flex: 70%;
}

.right .msg-search .inputBox button {
    flex: 30%;
    padding: 10px;
}
.right .msg-search .inputBox button:hover {
    background: rgba(209, 34, 227, 0.95);
    color: #fff;
}

.right .msg-search .inputBox input:focus {
    color: #080808;
    background: #fff;
}

.right .msg-display {
    border: 1px solid rgba(153, 38, 240, 0.95);
    display: flex;
    margin: 10px 0;
    padding: 10px;
    transition: background 0.5s, transform 0.5s;
}

.right .msg-display:hover {
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
    transform: translateY(-10px);
}

.right .msg-display img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    flex: 30%;
    padding: 10px;
}

.msg-display .msg-body {
    flex: 60%;
    padding: 10px;
}

.msg-display .msg-react {
    flex: 10%;
    padding: 10px;
    margin: auto;
}

i {
    color: #00dfc4;
}

.right .msg-nav {
    width: 40%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.msg-nav form {
    width: 100%;
    text-align: center;
}

.msg-nav form button {
    width: 30%;
    padding: 5px;
}

.msg-nav form label{
    width: 10%;
}

.btn-prev,
.btn-next,
.msg-nav form label {
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    transition: background 0.5s;
}

.btn-prev:hover,
.btn-next:hover {
    background-color: rgba(153, 38, 240, 0.95);
    color: #fff;
}

/* Messages page section */

.right .write-msg-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}

.msg-search .inputBox input,
.msg-search .inputBox button,
.right .write-msg-form .inputBox input,
.right .write-msg-form .inputBox textarea,
.container .form .inputBox input {
    padding: 12px 10px 12px 48px;
    width: 100%;
    border: none;
    background: #223243;
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: #fff;
    font-weight: 300;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.35);
    transition: 0.5s;
    outline: 0;
}

.right .write-msg-form .inputBox input:valid~span,
.right .write-msg-form .inputBox input:focus~span,
.right .write-msg-form .inputBox textarea:valid~span,
.right .write-msg-form .inputBox textarea:focus~span,
.container .form .inputBox input:valid~span,
.container .form .inputBox input:focus~span {
    color: #00dfc4;
    border: 1px solid #00dfc4;
    background: #223243;
    font-size: 0.6em;
    padding: 0 8px;
    border-radius: 10px;
    letter-spacing: 0.1em;
}

.right .write-msg-form .inputBox input:valid~span,
.right .write-msg-form .inputBox input:focus~span,
.right .write-msg-form .inputBox textarea:valid~span,
.right .write-msg-form .inputBox textarea:focus~span {
    transform: translateX(50px) translateY(-10px);
}

.container .form .inputBox input:valid~span,
.container .form .inputBox input:focus~span {
    transform: translateX(25px) translateY(-8px);
}

.right .write-msg-form .inputBox input:valid,
.right .write-msg-form .inputBox input:focus,
.right .write-msg-form .inputBox textarea:valid,
.right .write-msg-form .inputBox textarea:focus,
.container .form .inputBox input:valid,
.container .form .inputBox input:focus {
    border: 1px solid #00dfc4;
}
.right .write-msg-form .inputBox span,
.container .form .inputBox span {
    position: absolute;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 16px;
    font-weight: 300;
    transition: 0.5s;
    color: rgb(255, 255, 255, 0.5);
    letter-spacing: 0.05em;

}
.right .write-msg-form .inputBox span {
    left: 370px;
}

.container .form .inputBox span {
    left: 0;
}

.right .write-msg-form input[type="submit"] {
    padding: 14px 60px;
    font-size: 18px;
    margin: 20px auto;
    cursor: pointer;
    background: #00dfc4;
    width: 60%;
    border: none;
    border-radius: 25px;
    transition: background 0.5s, transform 0.5s;
    }

.right .write-msg-form input[type="submit"]:hover {
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
    transform: translateY(-10px);
    }

/* Sign in and Sign up section */
.container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.container .form h2 {
    font-weight: 500;
    letter-spacing: 0.1em;
}

.container .form .inputBox {
    position: relative;
    width: 400px;
}

.container .form .inputBox i {
    position: absolute;
    left: 16px;
    top: 15px;
    width: 25px;
    padding: 2px 0;
    padding-right: 8px;
    color: #00dfc4;
    border-right: 1px solid #00dfc4;
}

.container .form .inputBox input[type="submit"] {
    background: #00dfc4;
    color: #223243;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.35), inset -5px -5px 15px rgb(255, 255, 255, 0.1), inset 5px 5px 15px rgb(0, 0, 0, 0.35);
    transition: background 0.5s, transform 0.5s;
}
.container .form .inputBox input[type="submit"]:hover {
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
    transform: translateY(-10px);
    color: #fff;
}

.container .form p {
    font-size: 1em;
    font-weight: 300;
}
.container .form a {
    font-weight: 500;
    text-decoration: none;
}
.container .form a:hover {
    text-decoration: underline;
}

/* Footer section */
.footer-bottom {
    width: 100%;
    height: 20px;
    background-color: #080808;
    color: #ccc;
    text-align: center;
    margin: auto;
    position: fixed;
    bottom: 0;
}

.footer-bottom a {
    color: rgba(153, 38, 240, 0.95);
    text-decoration: none;
}

/* media queries */
@media only screen and (max-width: 600px) {
    .msg-search {
        width: 100%;
    }

    .btn-search {
        display: block;
        margin: 10px auto;
    }

    .msg-content {
        text-align: center;
    }

    .msg-display {
        flex-direction: column;
    }

    .msg-react {
        display: flex;
    }

    .msg-react form input {
        font-size: 12px;
    }

    .msg-nav {
        width: 90%;
    }

    .btn-prev,
    .btn-next,
    .msg-nav form input {
        font-size: 12px;
        width: 15%;
    }
}