{% extends 'base.html' %} {% block content %}

<h1 class="text-center mt-2 pb-2">Hi, Welcome To Messages Forum</h1>

<div class="shadow p-3 mb-5 bg-body rounded">
  <div class="row">
    <img class="img-fluid .img-thumbnail col-6" src="{{ url_for('static', filename='images/forum.JPG')}}" align="end" />
    <div class="col-6">
      <p class="lead">
      This is your Message Forum that will help you to post your Burning issues
      and people will share
      </p>
      <p class="lead">
        Forums are a powerful way of communication between large number of
        individuals and it has been used in social media apps and other mass
        populous communication mediums. Forums nowadays have a problem of being too
        massive with different sub forums with different topics that it has gotten
        hard to use especially the famous ones.
      </p>
    </div>
  </div>
</div>

<div class="shadow p-3 mb-5 bg-body rounded">
  <div class="row">
    <div class="col-7">
      <p class="lead">
        Forums are a powerful way of communication between large number of
        individuals and it has been used in social media apps and other mass
        populous communication mediums. Forums nowadays have a problem of being too
        massive with different sub forums with different topics that it has gotten
        hard to use especially the famous ones. Social media forums also have a
        grouping system that puts similar people with similar opinions on the same
        group which creates echo chambers where only similar opinions between the
        groups are shared, which is not a good way of discussion since discussion is
        very useful when different opinions communicate with each other. On this
        paper the final outcome of the project creates a forum site that is specific
        to a certain topic and there are no groupings that create echo chambers. The
        site tries to help on the mentioned problems by being useful to communicate
        openly with different idea people and to have a shared understandable
        knowledge between the different groups.
      </p>
    </div>
    <img class="img-fluid .img-thumbnail col-5"
      src="{{ url_for('static', filename='images/forum-pic.JPG')}}"
      align-items-center
      width="400"
    />
  </div>
</div>
<div class="shadow p-3 mb-5 bg-body rounded text-center">
  <h3>Do you want to be part of the Discussion?</h3>
  <h5>Get started here</h5>
  <a href="{{ url_for('register')}}" class="btn btn-primary">Sign Up</a>
</div>
<br /><br />

{% endblock %}
